* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main container================ */
.weatherMainBox {
  background-image: url("../Assets/beautiful-view-empty-road-surrounded-by-greenery-dark-storm-clouds\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #cccccc;
  /* border: 1px solid red ; */
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* left side container------------------- */
.leftContainer {
  -webkit-box-shadow: -9px 1px 15px 11px rgba(38,28,38,1);
-moz-box-shadow: -9px 1px 15px 11px rgba(38,28,38,1);
box-shadow: -9px 1px 15px 11px rgba(38,28,38,1);
  width: 25%;
  height: 80%;
  /* border: 1px solid red; */
  /* background-color: blue; */
  border-radius: 1.4rem;
}
.searchInput {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: transparent;
  margin: 1rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: 500;
  border: none;
  /* border: 1px solid red ; */
  /* background: yellow; */
  color: white;
  width: 200px;
  height: 35px;
}
.searchBtn {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 95px;
  height: 35px;
  border-radius: 3rem;
  background-color: wheat;
  border: none;
  font-size: 0.9rem;
  color: rgb(11, 11, 11);
}
.searchBtn:hover {
  -webkit-box-shadow: -9px 1px 15px 11px rgba(219,138,219,1);
-moz-box-shadow: -9px 1px 15px 11px rgba(219,138,219,1);
box-shadow: -9px 1px 15px 11px rgba(219,138,219,1);
  cursor: pointer;
}
.teamUnit {
  font-size: 1.2rem;
  color: red;
}
.cityNameBox {
  display: flex;
  align-items: center;

  justify-content: center;
}
.cityNameBox span {
  align-items: center;
  padding: 2rem;
  width: 100%;
  height: 130px;

  font-size: 4rem;
  font-weight: 500;
  background: transparent;
}
.contTeamDescBox {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* font-size:1.3rem; */
  /* font-size: 2rem; */
}

.counteryNameBox {
  font-size: 1.6rem;
  margin-top: 1rem;
}
.counteryNameBox span {
  font-size: 1.9rem;
  /* margin-top: 1rem; */
  /* display: inline ; */
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}
.teamBox {
  font-size: 1.7rem;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.teamBox span {
  font-size: 2.5rem;
  /* color: aqua; */
  font-weight: 500;
}
.descBox {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.descBox span {
  /* border: 1px solid black; */
  font-size: 1.7rem;
  width: 100%;
  color: blanchedalmond;
}
/* .right side Container----------------------- */
.rightContainer {
  width: 55%;
  -webkit-box-shadow: -9px 1px 15px 11px rgba(38,28,38,1);
-moz-box-shadow: -9px 1px 15px 11px rgba(38,28,38,1);
box-shadow: -9px 1px 15px 11px rgba(38,28,38,1);
  height: 70%;
  /* border: 1px solid black; */
  /* background-color: brown; */
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* right side subs containers 1-------------- */
.weatherDetailsBox {
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  flex-wrap: wrap;
  height: 95%;
  margin-top: 1.8rem;
  margin-left: 1rem;
}
.subDetailBox {
  background: transparent;
  
  -webkit-box-shadow: 14px -11px 28px 5px rgba(0,0,0,0.52);
  -moz-box-shadow: 14px -11px 28px 5px rgba(0,0,0,0.52);
  box-shadow: 14px -11px 28px 5px rgba(0,0,0,0.52);
  width: 140px;
  font-size: 1.4rem;
  display: flex;
  padding: 3rem;
  align-items: center;
  flex-direction: column;
  height: 140px;
  /* background-color: aqua; */
  margin-top: 1.4rem;
  border-radius: 10px;
}
span {
  width: 8rem;
  justify-content: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
}
.minMaxTeam {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
}
.weatherDetailsBox2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  flex-wrap: wrap;
  height: 95%;
  margin-top: 1.8rem;
  margin-left: 1rem;
}
.subDetailBox2 {
  width: 140px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 140px;
  /* border: 1px solid red; */
  /* background-color: aqua; */
  margin-top: -2rem;
  -webkit-box-shadow: 14px -11px 28px 5px rgba(0,0,0,0.52);
-moz-box-shadow: 14px -11px 28px 5px rgba(0,0,0,0.52);
box-shadow: 14px -11px 28px 5px rgba(0,0,0,0.52);}
.subDetailBox2:hover{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
cursor: pointer;
}
.subDetailBox:hover{
  cursor: pointer;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.boxTitle {
  font-size: 1.4rem;
  font-weight: 500;
}
